body {
    background-color: white;
}

.para1 {
    padding: 5vw;
    width: 100%;
    display: inline-block;
    padding-left: 13.5vw;
    padding-bottom: 3vw;
    background-color: rgb(41, 39, 39);
}

.text-block1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2vw;
    line-height: 1.6;
    padding-right: 30vw;

}

.bowlPhysics {
    width: 20vw;
    display: inline-block;
}

.transit {
    width: 56vw;
    display: block;
    margin-left: 13.4vw;
    padding-left: 7vw;
}

.para3 {
    padding-top: 0.5vw;
    width: 100%;
    padding-left: 6vw;
    display: block;


}

.text-block3 {
    color: rgb(41, 39, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2vw;
    line-height: 1.6;
    padding-left: 6vw;
    padding-right: 20vw;
}

.kepler {
    width: 25vw;
    display: inline-block;
    height: auto;
}


.para2 {
    padding: 5vw;
    padding-top: 2vw;
    width: 100%;
    padding-bottom: 2vw;
    padding-left: 13.5vw;

}

.text-block2 {
    color: rgb(41, 39, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2vw;
    line-height: 1.6;
    padding-right: 30vw;
}



h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vw;
    padding-bottom: 1.5vw;
}

.back {
    width: 20vw;
    padding-left: 21vw;
    display: inline-block;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

.next {
    width: 18vw;
    padding-left: 15vw;
    display: inline-block;
    padding-bottom: 2.5vw;
    padding-top: 3vw;
}

.green {
    display: block;
    padding-left: 40vw;
}